<div class="messages-page">

<div class="previous-messages">
<h3>Here are all your messages:</h3>
<hr>
  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>
  <div class="ui segment">
    <% @messages.each do |message| %>
      <% if message.body %>
      <% user = User.find(message.user_id) %>
        <div class="message-header">
          <strong><%= user.first_name %></strong>
          <%= message.message_time %>
          <div class="message-item">
            <p><%= message.body %></p>
          </div>
        </div>
      <% end %>
      <hr>
    <% end %>
 </div>

    <div class="message-text-area">
    <%= form_for Message.new, url: conversation_messages_path do |f| %>
        <%= f.text_area :body, size: "50x12" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Add Reply", class: "" %>
    <% end %>
  </div>
</div>
</div>