

<div class="search-form-page">

    <h2>Hello! What Are You Looking For?</h2>
    
    <div class="search-form">
    <%= form_for @search do |f|%>
        
        <div class="form-group">
            <%= f.label :keywords, :class => "search-label" %>
            <%= f.text_field :keywords, :class => "search-input"%><br/>
        </div>

        <div class="form-group">   
            <%= f.label :'Hire Duration',  :class => "search-label"%>
            <%= f.text_field :hireduration, :class => "search-input"%>
        </div>

        <div class="btn">
            <%= f.submit "Search", :class => "search-button"%>
        </div>

        
    <%end%>
    <div class="btn allitems-button">
            <p><%=link_to "Show me All Items", items_path,  :class => "link"%></p>
        </div>
    </div>
</div>



