<div class="search-form-page" background="tyler-callahan-662099-unsplash.jpg">
<div class="search-form">
    
    
        <%= form_for @search do |f|%>
            <p class="caption">HEY! WHAT CAN WE HELP YOU FIND TODAY?</p>
            
            <div class="form-group">
                <%= f.label :keywords, :class => "search-label" %>
                <%= f.text_field :keywords, :class => "search-input"%><br/>
            </div>

            <div class="form-group">   
                <%= f.label :hireplan,  :class => "search-label"%>
                <%= f.select(:hireplan, options_for_select([['HOURS','HOURS'], ['DAYS', 'DAYS'], ['WEEKS', 'WEEKS']]), :class => "search-input")%>                
            </div>
            <!--
            <div class="form-group">
                <%= f.label :duration,  :class => "search-label"%>
                <%= f.range_field :duration, :min=>1, :max=>23, :class=>"slider", :id=>"duration"%>
                <text id="value">12</text>
            </div>
            -->
            <div class="form-group">
                <%= f.label :duration,  :class => "search-label"%>
                <%= f.number_field :duration, :min=>1, :max=>23, :class=>"search-input", :id=>"duration"%>
                
            </div>

             <div class="form-group">
                <%= f.label :min_price, "Price Range",  :class => "search-label"%>
                
                <%= f.text_field :minprice, :class=>"price"%> -
                <%= f.text_field :maxprice, :class=>"price"%><br/>
            </div> 

            <div class="form-group">
                <%= f.label :suburb, :class => "search-label" %>
                <%= f.text_field :suburb, :class => "search-input"%><br/>
            </div> 

            <div class="form-group">
                <%= f.label :arearange, "Area Range", :class => "search-label" %>
                <%= f.number_field :arearange, :class => "search-input"%><br/>
            </div> 
            

            <div>
                <%= f.submit "Search", :class => "search-button"%>
            </div>

        <%end%>
    

    <div class="btn allitems-button">
        <p><%=link_to "Show all items", items_path,  :class => "link"%></p>
    </div>
    </div>
</div>

<script>
    $("#duration").change(function () {                    
        var newValue = $('#duration').val();
        $("#value").html(newValue);
    });
</script>




