<div class="all-items-page">
<div class="all-of-the-items">
  <div class="info-text">

    <h3 id="showing-all-items">Search Results</h3>
  
  </div>
  <%# <div class="buttons"> %>
    <% if user_signed_in? %>  
      <%=link_to 'Add New Item', new_item_path, class: 'buttons btn btn-outline-success' %> <!-- btn btn-outline-success index-links -->
      <%=link_to "Search Items", new_search_path, class: 'buttons btn btn-outline-primary'%>
    <% else %>
      <%=link_to "Search Items", new_search_path, class: 'buttons btn btn-outline-primary'%>
    <% end %>  
  <%# </div> %>
 <hr> 
</div>
<p id="notice"><%= notice %></p>
<div class="all-items">
   <% @search.items.sort{|a,b| b.updated_at <=> a.updated_at}.each do |item| %>
    <div class="c-margin">
    <div class="item-card">
      <% item.images.each_with_index do |image, i| %>
        <% if i == 0 %>
          <%= image_tag image, class: "card-image" %>
        <%end%>
      <% end %>
      <div class="card-container card-body">
        <h4 class="c-title"><%= item.name %></h4>        
        <p class="card-text">
          <%= item.description %>
        </p>
        
          <div class="manage-buttons">
            
            <% if user_signed_in? %>
              <% if current_user == item.user%> <!-- may have to change to current_user.lender.id to get this to work-->
                <%= link_to 'Edit', edit_item_path(item), class: 'edit-button btn btn-outline-primary' %>
                <%= link_to 'Delete', item, class: 'delete-button btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
                <%= link_to 'Details', (item), class: 'details-button btn btn-outline-success' %>
             
            <% end %>
          </div>
        
      </div>   
      </div>
    </div>
  <% end %> 
</div>
</div>
<!--
  
  
  <h1>Available Items</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Availbale For</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search.items.sort{|a,b| b.updated_at <=> a.updated_at}.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.max_days_per_hire %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr> 
    <% end %>
  </tbody>
</table>

<%=link_to "Back to Search", new_search_path%>
<%=link_to "All Items", items_path%>
-->