<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field ">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>


<%# <input type="checkbox" id="per-day" value="1"> Per day

    <div id="per-day-details" style="display:none;">
      PER DAY STUFF
    </div> %>


  <div class="field">
    <%= form.label(:per_hour_availability, "Per hour availability") %>
    <%= form.check_box(:per_hour_availability, id: "price-per-hour") %>
  </div>

  <div id="price-per-hour-details" class="hidden" style="display:none;">
    <div class="field ">
      <%= form.label :price_per_hour %>
      <%= form.number_field :price_per_hour %>
    </div>

    <div class="field ">
      <%= form.label :max_hours_per_hire %>
      <%= form.number_field :max_hours_per_hire %>
    </div>
  </div>

 <div class="field">
    <%= form.label(:per_day_availability, "Per day availability") %>
    <%= form.check_box(:per_day_availability, id: "price-per-day") %>
 </div>

 <div id="price-per-day-details" class="hidden" style="display:none;">
  <div class="field">
    <%= form.label :price_per_day %>
    <%= form.number_field :price_per_day %>
  </div>
    <div class="field">
    <%= form.label :max_days_per_hire %>
    <%= form.number_field :max_days_per_hire %>
  </div>
</div>

 <div class="field">
    <%= form.label(:per_week_availability, "Per week availability") %>
    <%= form.check_box(:per_week_availability, id: "price-per-week") %>
 </div>

 <div id="price-per-week-details" class="hidden" style="display:none;">
  <div class="field ">
    <%= form.label :price_per_week %>
    <%= form.number_field :price_per_week%>
  </div>
    <div class="field">
    <%= form.label :max_weeks_per_hire %>
    <%= form.number_field :max_weeks_per_hire %>
  </div>
</div>


   <div class="field">
    <%= form.label :image %>
    <%= form.file_field :images, multiple: true %>
  </div>


<h2> This is <strong>Local</strong>Hire so we need to know where you will be lending your item from?</h2>
<p>We will not post this information on the item show page, just the suburb.  However, the street address is required for when someone makes a successful booking</p>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_field :suburb %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city%>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<script>

 // Find every checkbox
      var checkboxes = document.querySelectorAll('input[type=checkbox]');

      // For each checkbox
      checkboxes.forEach(function (checkbox) {

        // Listen for a click
        checkbox.addEventListener('click', function (){

          // Find the associated details div
          var perDurationDetails = this.id + '-details'
          var details = document.getElementById(perDurationDetails)

          // If it's checked
          if (this.checked) {

            // Display
            details.style.display = 'block'
          }else {

            // Otherwise, hide
            details.style.display = 'none'
          }
        })
      })


</script>



