<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </div>

  <div class="field">
    <%= form.label :price_per_hour %>
    <%= form.number_field :price_per_hour %>
  </div>

  <div class="field">
    <%= form.label :min_hours_per_hire %>
    <%= form.number_field :min_hours_per_hire %>
  </div>

  <div class="field">
    <%= form.label :price_per_day %>
    <%= form.number_field :price_per_day %>
  </div>

  <div class="field">
    <%= form.label :max_days_per_hire %>
    <%= form.number_field :max_days_per_hire %>
  </div>

  <div class="field">
    <%= form.label :price_per_week %>
    <%= form.number_field :price_per_week %>
  </div>

  <div class="field">
    <%= form.label :max_weeks_per_hire %>
    <%= form.number_field :max_weeks_per_hire %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
