<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2> This is <strong>Local</strong>Hire so we need to know where you will be lending your item from?</h2>
<p>We will not post this information on the item show page, just the suburb.  However, the street address is required for when someone makes a successful booking</p>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city%>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
