<div class="container">

  <div class="row">

    <p id="notice"><%= notice %></p>

    



<%# <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Instructions</th>
      <th>Price per hour</th>
      <th>Min hours per hire</th>
      <th>Price per day</th>
      <th>Max days per hire</th>
      <th>Price per week</th>
      <th>Max weeks per hire</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  
    <% @items.each do |item| %>
    <div class="cold-md-4" id="card_margin">
    <div class="card" style="width: 18rem">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">
        <%= item.name %> <br>

        <p class="card-text">
          <%= item.description %><br>
          <%# <%= item.instructions<br> %>
          <%= item.price_per_hour %><br>
          <%# <%= item.min_hours_per_hire<br> %>
          <%= item.price_per_day %><br>
          <%# <%= item.max_days_per_hire<br> %>
          <%# <%= item.price_per_week<br> %>
          <%# <%= item.max_weeks_per_hire<br> %>
        </p>

        <%= link_to 'More Info', item, class: 'btn btn-outline-primary' %>
        <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-outline-primary' %>
        <%= link_to 'Delete', item, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </div>
    </div>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.instructions %></td>
        <td><%= number_to_currency(item.price_per_hour) %></td>
        <td><%= item.max_hours_per_hire %></td>
        <td><%= number_to_currency(item.price_per_day) %></td>
        <td><%= item.max_days_per_hire %></td>
        <td><%= number_to_currency(item.price_per_week) %></td>
        <td><%= item.max_weeks_per_hire %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      </div>
    <% end %>


<%=link_to 'New Item', new_item_path %> <br>
<%=link_to "Search Items", new_search_path%>
  
</div>


