<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @item.instructions %>
</p>

<p>
  <strong>Price per hour:</strong>
  <%= @item.price_per_hour %>
</p>

<p>
  <strong>Min hours per hire:</strong>
  <%= @item.min_hours_per_hire %>
</p>

<p>
  <strong>Price per day:</strong>
  <%= @item.price_per_day %>
</p>

<p>
  <strong>Max days per hire:</strong>
  <%= @item.max_days_per_hire %>
</p>

<p>
  <strong>Price per week:</strong>
  <%= @item.price_per_week %>
</p>

<p>
  <strong>Max weeks per hire:</strong>
  <%= @item.max_weeks_per_hire %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
