

<div class="show-main">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @item.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>
  <p>
    <strong>Instructions:</strong>
    <%= @item.instructions %>
  </p>


  <p class="image-block-show-page">
    <%(0...@item.images.count).each do |image|%>
      <%=image_tag @item.images[image], width: '200', height: '200'%>
    <%end%>
  </p>
  <%# <%= link_to 'Edit', edit_item_path(@item) | %>
  <%= link_to 'Back', items_path %>
</div>

<!--   THIS IS WHERE THE SIDEBAR - BOOKING AND STRIPE PAYMENT HTML/ERB IS -->

<%= form_tag charges_path, id: 'stripe-form' do %>
  <label for="price">Book this <%= @item.name %></label>
  <br>
  <select id="durationForHire" name="duration_for_hire">
    <option selected="selected">Please choose a duration below</option>
    
    <% unless @item.price_per_hour.nil? %>
      <option 
        data-price="<%= @item.price_per_hour %>" 
        data-max="<%= @item.max_hours_per_hire %>" 
        value='hour'>
          $ <%= @item.price_per_hour %> per hour
        </option>
    <% end %>

    <% unless @item.price_per_day.nil? %>
      <option 
        data-price="<%= @item.price_per_day %>" 
        data-max="<%= @item.max_days_per_hire %>" 
        value='day'>
        $ <%= @item.price_per_day %> per day
        </option>
    <% end %>

    <% unless @item.price_per_week.nil? %>
      <option 
        data-price="<%= @item.price_per_week %>"
        data-max="<%= @item.max_weeks_per_hire %>"
         value='week'>
        $ <%= @item.price_per_week %> per week
        </option>
    <% end %>
    
  </select>

  <p>
  <label id="durationLabel" for="duration"></label> 
  </p>
  <p> How long would you like to borrow this item for?
  <input id="durationInput" name="duration" type="number" min="1"> <!-- max="1" -->
  </p>

  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>


  <p>
    <strong>Total Booking Cost: </strong>
    <span id="total"></span>
  </p>
  <input type="hidden" id="stripeToken" name="stripeToken">
  <input type="hidden" id="stripeEmail" name="stripeEmail">
  <input type="hidden" name="item_id" value="<%= @item.id %>">

  <button id="pay">Book now</button>
  
<% end %>

<!--     THIS IS WHERE ALL THE JAVASCRIPT IS      -->
  <script src="https://checkout.stripe.com/checkout.js"></script>

  <script>
  var durationForHire = document.getElementById("durationForHire")
  var durationLabel = document.getElementById("durationLabel")
  var durationInput = document.getElementById("durationInput")
  var totalText = document.getElementById('total')

  var durationMax, durationPrice = 0;

  durationForHire.addEventListener("change", updateForm)
  durationInput.addEventListener("change", updateTotal)

  function updateTotal(event) {
    durationPrice = durationForHire.options[durationForHire.selectedIndex].dataset.price
    totalText.innerText = durationPrice * event.target.value
  }

  function updateForm(event) {
      var durationChoice = event.target.value
      durationMax = event.target.options[event.target.selectedIndex].dataset.max
      durationPrice = event.target.options[event.target.selectedIndex].dataset.price
      var label = ""

      // this stops the input from going over the maximum
      durationInput.max = durationMax

      // this shows the total for the selected time and hours
      totalText.innerText = durationPrice *  durationInput.value

      // this shows the user how long they can borrow an item based on the information that a lender has defined when creating or editing a product
      switch (durationChoice) {
        case "week":
          label = "You can borrow this item for up to <%= @item.max_weeks_per_hire %> weeks.";
          break
        case "day":
          label = "You can borrow this item for up to <%= @item.max_days_per_hire %> days.";
          break
        case "hour":
          label = "You can borrow this item for up to <%= @item.max_hours_per_hire %> hours.";
          break
        default:
          label = "Please pick a duration from the dropdown";
      }
    //this sets durationLabel to the appropriate case listed above.
    durationLabel.innerText = label
  }

// Init Stripe with our key
var handler = StripeCheckout.configure({
  key: "<%= Rails.configuration.stripe[:publishable_key] %>",
  // This will get the token!
  token: function(token) {  
    // This updates our form
    $("#stripeToken").val(token.id);
    $("#stripeEmail").val(token.email);
    // This submits our form
    $("#stripe-form").submit();
  }
});

// This listens for the user to click the pay button
$('#pay').on('click', function(e) {
  // This gets the total amount and opens the stripe window
  var amountInCents =  parseInt($('#total').html(),10) * 100;
  handler.open({
    name: "<%= @item.name %>",
    amount: amountInCents,
    currency:"AUD",
    locale:"auto"
  });
  e.preventDefault();
});

// This closes Checkout on page navigation
$(window).on('popstate', function() {
  handler.close();
});

</script>