<p id="notice"><%= notice %></p>


<h1>DASHBOARD</h1>
<p>
  <strong>Phone:</strong>
  <%# <%= @lender.phone %> %>
</p>

<p>
  <strong>User:</strong>
  <%# <%= @lender.user %> %>
</p>

<%= link_to 'Edit', edit_lender_path(@lender) %> |
<%= link_to 'Back', lenders_path %>